.br-25 {
	border-radius: 25px !important;
}

.custom-title {
	font-weight: bold;
	font-size: 3.5rem;
	margin-bottom: 2rem;
}

.custom-list li {
	margin-bottom: 1rem;
}

.custom-list li:last-child {
	margin-bottom: 0px;
}

.custom-menu-container {
	justify-content: space-between;
	align-items: center;
}

.custom-menu-links {
	margin: 0px !important;
}

.elementor-heading-title {
	word-break: break-word;
}

.custom-menu-icons img {
	width: 25px;
	height: auto;
}

.btnHero button{
	border: 1px solid #00ff83;
    color: #00ff83;
    padding: 0.5rem 4rem;
    border-radius: 25px;
}

.btnHero.second-row-button {
	width: 100%;
	margin-top: 1rem;
}

.btnHero.second-row-button button {
	margin-left: 0px;
}

.btnHero .btnPresale {
	background-color: #00ff83;
    color: #161616;
    font-weight: 700;
    /*border: 3px solid #26252594;*/
    box-shadow: 3px 3px 15px #00ff83b0;
}

.intro-buttons {
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 460px;
}

.intro-buttons > div:first-child {
	width: 100%;
	margin-bottom: 1rem;
}

.intro-buttons > div:last-child {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.intro-buttons > div:last-child > a {
	width: 49%;
}

.intro-buttons > div:last-child button {
	width: 100%;
}

.intro-buttons button {
	border: 1px solid #fea505;
    color: #fea505;
    border-radius: 25px;
}

.intro-buttons button.btnPresale {
	width: 100%;
	background-color: #fea505;
    color: #161616;
    font-weight: 700;
    /* border: 3px solid #26252594; */
    box-shadow: 3px 3px 15px #fea505;
}

.btnHero .btnDapp {
	margin-left: 1rem;
}

.btnHero .btnPresaleMid {
	margin-top: 2rem;
	background-color: #fea505;
    color: #000;
    font-weight: 700;
    box-shadow: 3px 3px 15px #fea505;
}

.btnHero .btnPaper {
	margin-top: 2rem;
	background-color: #fea505;
    color: #000;
    font-weight: 700;
    box-shadow: 3px 3px 15px #fea505;
}

#content .idoPhoneSection {
	margin-top: 5rem;
    margin-bottom: 10rem;
    padding-bottom: 5rem;
    border-radius: 40px;
}

#content .elementor-1943 .elementor-element.elementor-element-7dc83c8 img, .elementor-1943 .elementor-element.elementor-element-ada6103 img {
	width: 80%;
}

#content .elementor-1943 .elementor-element.elementor-element-024c9f2 > .elementor-widget-container {
	padding: 0;
}

.elementor-1943 .elementor-element.elementor-element-484d4ea:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1943 .elementor-element.elementor-element-484d4ea > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #fea505;
}

.flexMe {
	display: flex;
}

.partnerBox {
	background-color: #ffffff8a;
    border-radius: 30px;
}

.hideMe {
	display: none !important ;
}

.pinksaleBtnBox {
	border: 2px transparent !important; 
}

.page .idoMenu a {
	background-color: #fea505 !important;
    color: #2d2d2d !important;
    border-radius: 25px !important;
    padding: 0px 50px !important;
    height: 30px !important;
    margin: auto !important;
    box-shadow: 5px 5px 15px #fea505  !important;
}

.page .iconMenu {
	margin-left: 1rem;
}

.page .iconMenu a {
	padding: 0px !important;
	color: #fff;
	font-size: 1.5rem;
}

.page .iconMenu a:hover {
	color: #fea505;
}

.elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child):after {
	display: none !important;
}

.elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:last-child {
	margin-left: 1rem;
}

.page .elementor-1943 .elementor-element.elementor-element-5e75ee0 > .elementor-widget-container {
	margin: -327px -297px -415px -537px;
	text-align: right;
}

.page .elementor-1943 .elementor-element.elementor-element-5e75ee0 > .elementor-widget-container img{
	transform: scaleX(-1);
}

.gaussTop {
	    margin: -272px 556px -614px -1683px !important;
}

[type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, button:focus, button:hover {
   
    background-color: transparent;
    text-decoration: none;
    box-shadow: 6px 6px 15px #fea505;
}

:root {
	    overflow-x: hidden;
}

.onlyPhone {
		display: none ;

}

.elementor-element-b007180 {
	display: flex;
    justify-content: center;
}

.elementor-1943 .elementor-element.elementor-element-ebe599e img {
    width: 100%;
}

.noMarginContainer > * {
	margin: 0;
}

.phoneImg {
	margin-left: 3rem;
}


.elementor-1943 .elementor-element.elementor-element-3675b17:not(.elementor-motion-effects-element-type-background), .elementor-1943 .elementor-element.elementor-element-3675b17 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #090909;
    background-image: url(bot2.png) !important;
    background-position: 85% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#security {
	position: relative;
    z-index: 2;
    background-color: transparent;
    background-image: unset;
}

#security > .elementor-background-overlay {
	display: none !important;
}

@media screen and (max-width: 1024px) {
	.page .idoMenu {
		margin-left: 1rem;
	}

	.page .idoMenu a {
		width: auto;
		margin: unset !important;
		max-width: 140px;
		padding: 0px !important;
		display: flex;
		justify-content: center;
	}

	.page .iconMenu {
		margin-top: 1.5rem;
	}

	.custom-menu-links.mobile-menu-opened > nav {
		display: block;
	    position: fixed;
	    top: 77px;
	    left: 0px;
	    width: 100%;
	    height: calc(100vh - 77px);
	    background-color: rgba(0,0,0,0.9);
	}

	.custom-menu-links > nav ul {
		display: block !important;
	}

	.custom-menu-links > nav ul li:after {
		display: none;
	}

	.custom-menu-links .custom-menu-icons #close-mobile-menu {
		display: none;
	}

	.custom-menu-links.mobile-menu-opened .custom-menu-icons #open-mobile-menu {
		display: none;
	}

	.custom-menu-links.mobile-menu-opened .custom-menu-icons #close-mobile-menu {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.page .idoMenu {
		justify-content: center;
    	margin-left: 0px;
	}

	.page .iconMenu {
		margin-left: 0px !important;
	    justify-content: center;
	    width: 100%;
	}

	.page .iconMenu a {
		width: auto;
	    text-align: center;
	    flex-grow: unset;
	}

	.elementor-motion-effects-container {
		filter: blur(5px);
	}

	.custom-menu-container > .elementor-column:first-child {
		height: 85px;
	}

	.custom-menu-links.mobile-menu-opened > nav {
	    top: 86px;
	    height: calc(100vh - 86px);
	}

	.intro-buttons {
		margin: auto;
		margin-bottom: 2rem;
	}

	.btnHero {
		display: flex;
    	justify-content: flex-end;
    	flex-direction: column;
    	margin: auto;
	}

	.btnHero .btnDapp {
		margin: 1rem 0 0 0;
	}

	.btnHero.second-row-button {
		margin-top: 0px;
		align-items: center;
	}

	.pinksaleBtnBox {
		display: none !important;
	}

	.onlyPhone {
		display: block !important;
	}

	.elementor-1943 .elementor-element.elementor-element-07a56eb img {
		width: 50%;
		margin-right: -1rem;
	}

	.idoPhoneSection .elementor-widget-wrap.elementor-element-populated {
		margin-top: 5rem;
	}
	.elementor-1943 .elementor-element.elementor-element-85d4045 > .elementor-widget-container {
		padding: 0;
	}

	#content .idoPhoneSection {
	    margin-top: 5rem;
	    margin-bottom: 10rem;
	    padding-bottom: 5rem;
	    border-radius: 40px;
	    padding-top: 2rem;
	    padding-bottom: 2rem;
	}

	.elementor-1962 .elementor-element.elementor-element-0e1593c .elementor-nav-menu--main .elementor-item {
	    color: #FFFFFF;
	    fill: #FFFFFF;
	    padding-left: 16px;
	    padding-right: 16px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    justify-content: center;
	}

	.mrgTopTres {
		margin-top: 3rem !important;
	}

	.phoneUnderText {
		padding:4rem 2rem 1rem 2rem !important;
	}
}

@media screen and (max-width: 515px) {
	.elementor-1943 .elementor-element.elementor-element-3675b17:not(.elementor-motion-effects-element-type-background), .elementor-1943 .elementor-element.elementor-element-3675b17 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-image: url(capa-m.jpg) !important;
		background-position: center;
    	background-size: cover;
	}
}

@media screen and (max-width: 468px) {
	.elementor-heading-title {
		font-size: 1.75rem !important;
	}
}

@media screen and (max-width: 360px) {
	.intro-buttons > div:last-child > a {
		width: 100%;
		margin-bottom: 1rem;
	}
}